/*-------color variables----------*/
$color-1:red;
$color-2:blue;
$color-3:orange;
$color-4:gray;
$color-5:skyblue;
/*------font size variables------------*/
$font-1:1.5rem;
$font-2:2rem;
$font-3:2.5rem;
$font-4:3rem;
$font-5:3.5rem;
/*------font size variables------------*/

/*----bootstrep customize css-----*/
$container-one: 100% ;
$container-two: 95% !important;
$container-three: 90% !important;
$container-four: 80% !important;
$container-five: 85% !important;
/*------background--------*/


/*-----z index------*/
$z-index-1:1;
/*-------border radious------*/
$border-r-1:5px;
$border-r-2:10px;
$border-r-3:15px;
$border-r-4:20px;
$border-r-5:25px;
