/*=========reset css===========*/
@import "mixedin";
@import "reset";
@import "variables";

/*=========sass variables===========*/

/*--


.button-1 {
  width: 200px;
  height: 50px;
  font-size: 1.5rem;
  text-transform:capitalize;
  font-weight: 600;
  border: 1px solid #000;
  background: #eee;
  border-radius: .5rem;
   @extend .btn;
  }
  .btn{
    background: $color-1;
  }
  .btn:hover{
    color:$color-3;
    background-color: $color-4;
   
  }
--*/
/*------header navbar-----*/
header{
  width: 100%;
  height:100%;

}
.container-fluid{
width: $container-five;
}
.hero-banner{
  width: 100%;
  height: 100%;
}
/*------navbar---------*/
header .navbar{
  background: $color-4;
  border-radius: $border-r-2;
}
.hero{
  position: relative;
}
.hero .overlay{
  position: absolute;
  width: 100%;height: 100%;
  background: $color-2;
  opacity: .5;
}
.welcome-noot{
  color: $color-3;
  @extend .flex-cnt;
  z-index: $z-index-1;
  font-size: $font-5;
  }